{% extends "base.html" %}
{% block title %}Danh sách nhân viên{% endblock %}
{% block title2 %}Danh sách nhân viên{% endblock %}
{% block title3 %}Danh sách nhân viên{% endblock %}
{% block path %}{% endblock %}
{% block content %}
<!-- Default box -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Thông tin chung</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped projects">
        <thead>
            <tr>
                <th style="width: 1%">#</th>
                <th>Họ tên</th>
                <th>CMND</th>
                <th>Số điện thoại</th>
                <th>Nhà thầu</th>
                <th>Lí do</th>
                <th>Ngày hết hạn</th>
                <th style="width: 20%"></th>
            </tr>
        </thead>
        <tbody>
            {% for e in list %}
            <tr>
                <td>{{ e.ID }}</td>
                <td>{{ e.Name }}</td>
                <td>{{ e.CMND }}</td>
                <td>{{ e.Phone }}</td>
                <td>{{ e.Company }}</td>
                <td>{{ e.Reason }}</td>
                <td>{{ e.DueDate }}</td>
                <td class="project-actions text-center">
                    <button class="btn btn-primary btn-sm form-click" data-id='{{ e.ID }}' data-btn='0'>
                        <i class="fas fa-folder"></i>
                        Chi tiết
                    </button>
                    {% if e.Status == 0 %}
                    <button class="btn btn-success btn-sm form-click" data-id='{{ e.ID }}' data-btn='1'>
                        <i class="fas fa-edit"></i>
                        Chấp nhận
                    </button>
                    <button class="btn btn-danger btn-sm form-click" data-id='{{ e.ID }}' data-btn='2'>
                        <i class="fas fa-trash"></i>
                        Từ chối
                    </button>
                    {% elif e.Status == 1 %}
                    
                    {% elif e.Status == 2 %}
                    <button class="btn btn-success btn-sm form-click"  data-id='{{ e.ID }}' data-btn='1'>
                        <i class="fas fa-edit"></i>
                        Chấp nhận
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <script type="text/javascript">
                $(function() {
                    $(".form-click").click(function(){
                        id = parseInt($(this).attr("data-id"));
                        status = parseInt($(this).attr("data-btn"));
                        if (status == 0) {
                            window.location.href = '/get/' + id.toString();
                            return True;
                        }
                        if (status == 3) {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });
                            Toast.fire({
                                icon: 'warning',
                                title: 'Bố chưa thích làm. ok?'
                            });
                            return true;
                        }
                        $.ajax({
                            type : 'POST',
                            url : "/update",
                            contentType: 'application/json;charset=UTF-8',
                            data : {ID: id, Status: status},
                            success: function(response) {
                                if (response == 'True') {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 1000
                                    });
                                    Toast.fire({
                                        icon: 'success',
                                        title: 'Cập nhật thành công.'
                                    }).then(function() {
                                        location.reload();
                                    });
                                } else {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 3000
                                    });
                                    Toast.fire({
                                        icon: 'error',
                                        title: 'Có gì đó sai sai.'
                                    });
                                }
                            },
                            error: function(error) {
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000
                                });
                                Toast.fire({
                                    icon: 'error',
                                    title: error
                                });
                            }
                        });
                        return false;
                    });
                });
            </script>
        </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}